{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "babel-plugin-macros"
      ]
    },
    "cjs": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "babel-plugin-macros"
      ]
    },
    "es": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "babel-plugin-macros"
      ]
    }
  },
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
