{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "page": true
  },
  "ignorePatterns": [""],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-hooks", "prettier", "@typescript-eslint"],
  "rules": {
    "max-params": 0,
    "max-statements": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "no-invalid-this": 0,
    "no-magic-numbers": 0,
    "no-unused-expressions": 0,
    "prettier/prettier": "error",
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "react/sort-prop-types": 0,
    "react/no-string-refs": 0,
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "react/no-did-update-set-state": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/no-var-requires": 0
  }
}
